.userPhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.active {
    font-weight: bold;
    cursor: default;
}

.inactive {
    font-weight: normal;
    cursor: pointer;
}
