@import '../../assets/styles/variables.scss';

.header {
    grid-area: header;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-blue;
}

.logo {
    width: 70px;
    filter: invert(.5);
}
