@import '../../assets/styles/variables.scss';

.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: $light-blue;
}

.links {
    list-style: none;
    margin-bottom: 50px;
}

.inactive {

}

.active {
    color: $brown;
}
