.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: #baffff;
}

.links {
    list-style: none;
    margin-bottom: 50px;
}

.inactive {

}

.active {
    color: #eebaff;
}
