.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: #baffff;
}

.links {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #999;
}

.active {
    color: #eebaff;
}
