* {
    margin: 0;
    padding: 0;
}

.App {
    width: 1200px;
    margin: 10px auto;
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";

    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
}

.header {
    grid-area: header;
    padding: 10px;
    background-color: #baffba;

    &__logo {
        width: 50px;
        height: 50px;
        filter: invert(.5);
    }
}

.sidebar {
    grid-area: sidebar;
    padding: 10px;
    background-color: #baffff;

    &__links {
        list-style: none;
    }
}

.content {
    grid-area: content;
    padding: 10px;
    background-color: #fff4ba;

    img {
        max-width: 80%;
    }
}

.footer {
    grid-area: footer;
    padding: 10px;
    background-color: #eebaff;

    &__logo {
        width: 50px;
        height: 50px;
        filter: invert(.5);
    }
}
